
<div class='container'>
<div id='map' style='width:940px;height:400px;'></div>
<br/>
<a href='javascript:void(0)' onclick="ChangeState('NJ');">New Jersey</a>&nbsp;
<a href='javascript:void(0)' onclick="ChangeState('FL');">Florida</a>&nbsp;
<a href='javascript:void(0)' onclick="ChangeState('IL');">Illinois</a>&nbsp;
</div>
<br/>
<div class='container'>
	<div class='well'>
<h4>Summary of Progress</h4>
	<%- summary %>
	</div>
</div>

<script>
var map = L.mapbox.map('map', 'examples.map-20v6611k')
    .setView([<%=latitude%>, <%=longitude%>], <%= zoom %>);

	var geojson = <%- JSON.stringify(geojson) %>
	var user    = <%- JSON.stringify(user) %>
	
		// Set a custom icon on each marker based on feature properties
		map.markerLayer.on('layeradd', function(e) {
		    var marker = e.layer,
		        feature = marker.feature;
			
			// Create custom popup content
			var popupContent =  "<img src='"+feature.properties.image+"' width='200' /><br/>" +
								'<td><table><tr><h4>' + feature.properties.title + '</h4></tr>' +
								"<tr>"+feature.properties.address+"<br/></tr>" +
								"<tr><a href='"+feature.properties.website+"'>website</a></tr></table>"
								
			if( user.site_id == 0 || user.site_id == feature.properties.id ) {
				popupContent +=	"<hr/>" +
								"<a href='site/transitions/" + feature.properties.id + "'>Transitions of Care</a><br/>" +
								"<a href='site/measures/" + feature.properties.id + "'>Measures Run Charts</a><br/>" +
								"<a href='site/drgs/" + feature.properties.id + "'>DRGs Run Charts</a><br/>" +
								"<a href='site/benchmarks/" + feature.properties.id + "'>DRGs Benchmark Charts</a><br/>";
			}
			
		    marker.bindPopup(popupContent,{
		        closeButton: false,
		        minWidth: 320
		    });
		    marker.setIcon(L.icon(feature.properties.icon));
		});
	
		// Add features to the map
		map.markerLayer.setGeoJSON(geojson);
		
function ChangeState( state ) {
	if( state == 'NJ' ) {
		var latlng = new L.LatLng(40,-74);
		map.setView(latlng, 7);
	} else if( state == 'FL' ) {
		var latlng = new L.LatLng(28,-84);
		map.setView(latlng, 6);
	} else if( state == 'IL' ) {
		var latlng = new L.LatLng(40,-89);
		map.setView(latlng, 6);
	};
};
</script>
	