<div class="container">  
	<div class="row">  
		<div class="span6">  
			<ul class="breadcrumb">  
			  <li>  
			    <a href="/site/gaps/<%= site.id %>">Gaps</a> <span class="divider">|</span>  
			  </li>  
			  <li>  
			    <a href="/site/gaps/<%= site.id %>">Transitions</a> <span class="divider">|</span>  
			  </li>  
			  <li>  
			    <a href="/site/measures/<%= site.id %>">Measures</a> <span class="divider">|</span>  
			  </li>  
			  <li>  
			    <a href="/site/runs/<%= site.id %>">Runs</a> <span class="divider">|</span>  
			  </li>  
			  <li>  
			    <a href="/site/benchmarks/<%= site.id %>">Benchmarks</a> <span class="divider"></span>  
			  </li>  
			
			</ul>  
		</div>  
	</div>  
</div>  
