<div class='container'>
<% if(site){ %>
	<img src='/img/logos/<%=site.id%>.jpg' width='200' /><br/>
	<table>
		<tr><td><b><%= site.name %></b>&nbsp;(site <%= site.id %>)</td></tr>
		<tr><td><%= site.address %></td></tr>
		<tr><td><a href='<%= site.website %>'>website</a></td></tr>
	</table>
<% }%>	
</div>	
<hr/>