<div class='container'>
<% if(site){ %>
	<img src='/img/logos/<%=site.id%>.jpg' width='200' /><br/>
	<table>
		<tr><td><b><%= site.name %></b>&nbsp;(site <%= site.id %>)</td></tr>
		<tr><td><%= site.address %></td></tr>
		<tr><td><a href='<%= site.website %>'>website</a></td></tr>
	</table>
	
	<small>
		<a href='/site/gaps/<%= site.id %>'>Gaps</a>&nbsp;/
		<a href='/site/transitions/<%= site.id %>'>Transitions</a>&nbsp;/
		<a href='/site/measures/<%= site.id %>'>Measures</a>&nbsp;/
		<a href='/site/drgs/<%= site.id %>'>Runs</a>&nbsp;/
		<a href='/site/benchmarks/<%= site.id %>' title='current rank'>Benchmarks</a>&nbsp;
	</small>
<% }%>	
</div>	
<hr/>