<style>
	.help {
	  cursor: help;
	}
</style>

<div class='container'>
	<%- partial('site.ejs', {site: site})%>

	<h4>DRG Benchmarks</h4>

	<form id='drgForm' action='/site/benchmark' method='POST'>
		<div class="ui-widget" style="width:600px">

			<label for="year">Select Year: </label>
			<select class="selectpicker show-tick" id='year' name='year'>
				<% for( var y in years) {%>
		    		<option value='<%= years[y].year %>'><%= years[y].year %></option>
		    	<% } %>
			</select>

			<label for="quarter">Select Quarter: </label>
			<select class="selectpicker show-tick" id='quarter' name='quarter'>
		    	<option value='1'>Q1</option>
		    	<option value='2'>Q2</option>
		    	<option value='3'>Q3</option>
		    	<option value='4'>Q4</option>
			</select>

			<label for="subpop">Enter Sub-Population: </label>
			<select class="selectpicker show-tick" id='subpop' name='subpop'>
				<% for( var s in subpopulations) {%>
		    		<option value='<%= subpopulations[s].id %>'><%= subpopulations[s].name %></option>
		    	<% } %>
			</select>
			
			<label for="tags">Enter <a class='help' href='/help#BASE-DRG'>BASE-DRG</a> (auto-complete): </label>
			<input id="tags" name='drg' style="width:600px" />
			<input type='hidden' id='site' name='site' value='<%= site.id %>' /><br/>
			<button id='submitButton' type="button" class="btn btn-primary" onclick="formSubmit()">Submit</button>		
		</div>
	</form>
	
	
</div>
	
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
function formSubmit() {
	if( $('#tags').val()) {
		$("#drgForm").submit();
	} else {
		$('#submitButton').attr("disabled","disabled");
	}
}

var drgs 			= <%- JSON.stringify(drgs) %>
var availableTags 	= [];

$(function() {
	for( var i in drgs ) {
		var drg = drgs[i]
		var str = drg.id + " BASE-DRG " + drg.name
		availableTags.push(str)
	}

	$( "#tags" ).autocomplete({
		source: availableTags
	});
	
	$('#tags').on("autocompleteresponse", function(event, ui) {
		if( $('#tags').val()) {
			console.log("enable");
			$('#submitButton').removeAttr("disabled");
		} else {
			console.log("no value");
			$('#submitButton').attr("disabled","disabled");
		}	
	});
});

var sel_drg 	= <%= sel_drg %>;
var sel_subpop	= <%= sel_subpop %>;
var sel_year	= <%= sel_year %>;
var sel_quarter	= <%= sel_quarter %>;

if( sel_drg >= 0) {
	var drg = drgs[sel_drg]
	var str = drg.id + " BASE-DRG " + drg.name;
	$('#tags').val( str);
	$('#submitButton').removeAttr("disabled");
} else {
	$('#submitButton').attr("disabled","disabled");
}
if( sel_subpop >= 0 ) {
	$('#subpop').val(sel_subpop);
}
if( sel_year >= 0 ) {
	$('#year').val(sel_year);
}
if( sel_quarter >= 0 ) {
	$('#quarter').val(sel_quarter);
}
</script>