<div class='container'>
	<%- partial('site.ejs', {site: site})%>

	<h3>Benchmark Chart</h3>
	
	<div class='well'>
		<table>
			<tr><td><b>DRG:</b></td><td><%= drg.name %></td>
			<% if(drg.description) {%>
			<td><%= drg.description %></td>
			<%}%>
			</tr>
			<tr><td><b>Subpopulation:</b></td><td><%= subpopulation.name %></td></tr>
			<tr><td><b>Period:</b></td><td><%= year %> Q<%= quarter %></td></tr>
			
			<tr><td><b>Measure:</b></td><td>
			<select id='select_measure' >
				<% for( m in measures ) { %>
				<option value='<%= m %>'> <%= measures[m].name %> </option>
				<%}%>
			</select>
			</td></tr>
		</table>
	</div>	
	<b>Change:</b> <a href='/'>Site</a>&nbsp;/&nbsp; 
	<a href='/site/benchmarks/<%=site.id%>?drg=<%=drg.id%>&subpop=<%=subpopulation.id%>&year=<%=year%>&quarter=<%=quarter%>'>DRG</a>&nbsp;/&nbsp;
	<a href='/site/benchmarks/<%=site.id%>?drg=<%=drg.id%>&subpop=<%=subpopulation.id%>&year=<%=year%>&quarter=<%=quarter%>'>SubPopulation</a>&nbsp;/&nbsp;
	<a href='/site/benchmarks/<%=site.id%>?drg=<%=drg.id%>&subpop=<%=subpopulation.id%>&year=<%=year%>&quarter=<%=quarter%>'>Period</a>&nbsp; 
	<hr/>
	
	<div id="container1" style="height: 600px; min-width: 600px"></div><br/>
	<a href='Javascript:void(0)' onclick="ShowTableData();"><i class='icon-list'></i>&nbsp;Show Table Data</a><br/>
	<div id="TableData"></div><br/>
	
</div>

<!--
<hr/>
<div class='container'>
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

<script type="text/javascript">
	var disqus_shortname = 'scrsproto';

	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
-->
<script src="/js/Highstock-1.3.4/js/highstock.js"></script>
<script src="/js/Highstock-1.3.4/js/modules/exporting.js"></script>
	
<script type="text/javascript">
var sites;
var graphs 		= [{}, {}, {}, {}];
var categories 	= [];				// really the site names

var sites 		= <%- JSON.stringify(sites) %>;
var measures 	= <%- JSON.stringify(measures) %>;
var g;

function GraphMeasure(index, measure, callback ) {
	g = graphs[index];
			
	var query = '<%= host %>/site/bsdmp/<%= site.id %>/<%= drg.id %>/'
	query += measure.measure_id+'/<%= subpopulation.id %>/<%= year %>/<%= quarter %>';
	
	//console.log('query:', query)
	
		$.ajax({
			type: 'GET',
			url: query,
			async: false 
		})
		.success( function(results) {
			//console.log('succeeded...');
			g.seriesOptions = results
			createChart( g.seriesOptions, callback );
		})
		.fail(function(jqxhr, textStatus, error ) { 
			var err = textStatus + ', ' + error;
			console.log( "Request Failed: " + err);
		});
	

	// create the chart when all data is loaded
	function createChart(seriesOptions, sites, callback) {

		var container_index = parseInt(index)+1
		var container 		= 'container'+container_index;
		
		//console.log('createChart in container:'+container);
		
		//$('#'+container).highcharts( {
		var chart1 = new Highcharts.Chart({
			chart: {
				renderTo: container,
				alignTicks: true,
				borderWidth: 0,
				height: 600,
				resetZoomButton: {
					position: {
						align: 'right',
						verticalAlign: 'top'
					}
				},
				shadow: true,
				spacingTop: 10,
				spacingRight: 20,
				spacingBottom: 50,
				spacingLeft: 20,
				type: "column",
				width: 600,
				zoomType: 'x'
			},
			subtitle: {
				align: 'center',
				text: measure.description,
				style: {
					fontSize: '9px',
					width:    '200px'
				},
				verticalAlign: 'bottom'
			},
			title: {
				text: measure.name
			},
			legend: {
					align: 'center',
					enabled: true,
					itemStyle: {
						fontSize: '9px',
						width: '175px'
					},
					layout: 'horizontal',
					verticalAlign: 'bottom'
			},
			credits: {
				enabled: false
			},
			xAxis: {
				alternateGridColor: '#FAFAFA',
				labels: {
					style: {
						fontSize: '9px',
						width: '175px'
					},
					categories: categories
				}
			},
			yAxis: {
				title: {
					text: measure.units
				}
			},
			tooltip: {
				formatter: function() {
					return '<b>'+ findSite(this.x, sites) +'</b><br/>'+
						this.series.name +': '+ this.y +'<br/>';
				}
			},
			plotOptions: {
				column: {
					stacking: 'normal',
					pointWidth: 10
					//,dataLabels: {
					//	enabled: true,
					//	color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
					//}
				}
				//series: {
			    //            borderWidth: 2,
			    //            borderColor: 'black'
			    //        }
			},

			series: seriesOptions
		});
		
		//chart1.series
		// done
		if( callback) { callback(null); }
	}
};

function findSite( i) {
	//console.log("find site:", i)
	if( categories[i] != undefined ) return categories[i];
	
	for( s in sites) {
		//console.log( sites[s].id, sites[s].name )
		if( sites[s].id == i ) {
			categories[i] = sites[s].name;
			return sites[s].name;
		}
	}
	categories[i] = "site "+i
	return categories[i];
}

$(function() {
	//var measures 	= <%- JSON.stringify(measures) %>;
	
	GraphMeasure(0, measures[0], function(err) {});
//}
})

function ShowTableData() {
	//console.log("ShowTableData");
	//console.log(g.seriesOptions);
	
	if( $('#TableData').html()) {
		$('#TableData').toggle();
		return;
	}

	var str = "<br/><div class='dwell'><table class='table-striped'>";
	str += "<th>Episode</th><th>Site</th><th>Value</th>";
	str += "<tbody>";
	for( var e in g.seriesOptions) {
		var episode = g.seriesOptions[e];
		str += "<tr><td>" + episode.name + "</td><td></td><td></td></tr>";
		
		for( var d in episode.data ) {
			var data = episode.data[d];
			str += "<td></td><td>"+ data.x +"</td><td>"+ data.y + "</td></tr>"
		}
	}
	str += "</tbody></table></div>";
	$('#TableData').html(str);
}

$('#select_measure').change( function() {
	//var measures 	= <%- JSON.stringify(measures) %>;

	var selected = $('#select_measure option:selected').each( function() {
		//var m = $(this).text();
		var v = $(this).val();
		GraphMeasure(0, measures[v], function(err) {});
	})
})

analytics.track('DRG Benchmark Chart', {
	drgId:				<%= drg.id %>,
	drgName:			"<%= drg.name %>",
	subPopulationId: 	<%= subpopulation.id %>,
	subPopulationName: "<%= subpopulation.name %>",
    Year:	 			<%= year %>,
    Quarter:			<%= quarter %>
});
</script>