<div class='container'>
	
	<%- partial('site.ejs', {site: site})%>
	<%- partial('breadcrumbs.ejs', {site: site})%>
	
	<h3>Run Chart</h3>
	
	<div class='well'>
		<table>
			<tr><td><b>DRG:</b></td><td><%= drg.name %></td>
			<% if(drg.description) {%>
			<td><%= drg.description %></td>
			<%}%>
			</tr>
			<tr><td><b>Subpopulation:</b></td><td><%= subpop.name %></td></tr>
			
			<tr><td><b>Measure:</b></td><td>
			<select id='select_measure' >
				<% for( m in measures ) { %>
				<option value='<%= m %>'> <%= measures[m].name %> </option>
				<%}%>
			</select>
			</td></tr>
		</table>
	</div>	
	<b>Change:</b> <a href='/'>Site</a>&nbsp;/&nbsp; <a href='/site/drgs/<%=site.id%>?drg=<%=drg.id%>&subpop=<%=subpop.id%>'>DRG</a>&nbsp;/&nbsp;<a href='/site/drgs/<%=site.id%>?drg=<%=drg.id%>&subpop=<%=subpop.id%>'>SubPopulation</a>&nbsp; 
	<hr/>
	<div id="container1" style="height: 600px; min-width: 600px"></div>
	<small>Note: You can hide a series by clicking on name in legend</small><br/>
	<a href='Javascript:void(0)' onclick="ShowTableData();"><i class='icon-list'></i>&nbsp;Show Table Data</a><br/>
	<div id="TableData"></div>
</div>

<!--
<hr/>
<div class='container'>
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

<script type="text/javascript">
	var disqus_shortname = 'scrsproto';

	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
-->

<script src="/js/Highstock-1.3.4/js/highstock.js"></script>
<script src="/js/Highstock-1.3.4/js/modules/exporting.js"></script>
	
<script type="text/javascript">

var graphs 		= [{}, {}, {}, {}]; // four graphs on page
var names		= ['Ctrl Group 1', 'Ctrl Group 2', 'Ctrl Group 3', 'Current Measure', '5Q Avg.'];
var colors 		= Highcharts.getOptions().colors;

var measures 	= <%- JSON.stringify(measures) %>;
var g;


function GraphMeasure(index, measure, callback ) {
	g 					= graphs[index];
	
	g.seriesOptions 	= [];
	//g.yAxisOptions 	= [];
	//g.seriesCounter 	= 0;
		
	var query = '<%= host %>/site/sdsm?site=<%= site.id %>&drg='+ <%= drg.id %> 
		query += '&subpop='+ <%= subpop.id %> +'&measure='+  measure.measure_id
		
		$.ajax({
			type: 'GET',
			url: query,
			//dataType: 'jsonp',
			async: false 
		})
		.success( function(data) {
			console.log('succeeded...');
			var type = 'line';
			//if( i == 0) type='column';

			for( var i in data ) {
				g.seriesOptions[i] = {
					name: names[i],
					data: data[i].data,
					type: type,
					yAxis: 0
				};
			}

			// As we're loading the data asynchronously, we don't know what order it will arrive. So
			// we keep a counter and create the chart when all the data is loaded.
			//g.seriesCounter++;

			//if (g.seriesCounter == sites.length) {
			createChart( callback );
				//if( callback ) callback(null);
			//} else {
				//alert("counter:"+g.seriesCounter+"/"+sites.length);
			//}
		})
		.fail(function(jqxhr, textStatus, error ) { 
			var err = textStatus + ', ' + error;
			console.log( "Request Failed: " + err);
		});
	

	// create the chart when all data is loaded
	function createChart(callback) {
		var container_index = index+1
		var container 		= 'container'+container_index;
		
		$('#'+container).highcharts('StockChart', {
			chart: {
				renderTo: container,
				alignTicks: true,
				borderWidth: 0,
				height: 600,
				resetZoomButton: {
					position: {
						align: 'right',
						verticalAlign: 'top'
					}
				},
				shadow: true,
				spacingTop: 10,
				spacingRight: 20,
				spacingBottom: 50,
				spacingLeft: 20,
				width: 600,
				zoomType: 'x'
			},

			rangeSelector: {
				buttons: [
				{
					type: 'month',
					count: 3,
					text: '1q'
				},
				{
					type: 'year',
					count: 1,
					text: '1y'
				}, {
					type: 'all',
					text: 'All'
				}],
				selected: 2
			},
			subtitle: {
				align: 'center',
				text: measure.description,
				style: {
					fontSize: '9px',
					width: '200px'
				},
				verticalAlign: 'bottom'
			},
			title: {
				text: measure.name
			},
			legend: {
					align: 'center',
					enabled: true,
					itemStyle: {
						fontSize: '9px',
						width: '175px'
					},
					layout: 'horizontal',
					verticalAlign: 'bottom'
			},
			credits: {
				enabled: false
			},
			xAxis: {
				alternateGridColor: '#FAFAFA',
				labels: {
					style: {
						fontSize: '9px',
						width: '175px'
					},
					formatter: function () {
						var s = "",
						d = new Date(this.value),
						q = Math.floor((d.getMonth() + 3) / 3); //get quarter
						s = "Q" + q + " " + d.getFullYear();
						return s;
					}
				},
				tickPositioner: function (min, max) {
					var axis = this.axis,
					act = min,
					ticks = [];
					while (act < max) {
						ticks.push(act);
						act = act + (90 * 24 * 3600 * 1000);
					}
					return ticks;
				},
				type: 'datetime'
			},
			yAxis: {
				labels: {
					formatter: function() {
						return this.value;
					}
				},
				plotLines: [{
					value: 0,
					width: 2,
					color: 'silver'
		    	}],
				title: {
					text: measure.units
				}
			},
			tooltip: {
				formatter: function () {
					var s = '<b>';
					if (Highcharts.dateFormat('%b', this.x) == 'Jan') {
						s = s + "Q1"
					};
					if (Highcharts.dateFormat('%b', this.x) == 'Apr') {
						s = s + "Q2"
					};
					if (Highcharts.dateFormat('%b', this.x) == 'Jul') {
						s = s + "Q3"
					};
					if (Highcharts.dateFormat('%b', this.x) == 'Oct') {
						s = s + "Q4"
					};
					s = s + " " + Highcharts.dateFormat('%Y', this.x) + '</b>';
					$.each(this.points, function (i, point) {
						s += '<br/>' + point.series.name + ': ';
						s += Highcharts.numberFormat(point.y, 0, ',');
					});
					return s;
				},
				shared: true
			},

			series: g.seriesOptions
		});
		// done
		if( callback) { callback(null); }
	}
};
	
$(function() {
	GraphMeasure(0, measures[0], function(err) {});
})

$('#select_measure').change( function() {

	var selected = $('#select_measure option:selected').each( function() {
		//var m = $(this).text();
		var v = $(this).val();
		GraphMeasure(0, measures[v], function(err) {});
	})
})

function ShowTableData() {
	//console.log("ShowTableData");
	console.log(g.seriesOptions);
	
	if( $('#TableData').html()) {
		$('#TableData').toggle();
		return;
	}

	var str = "<br/><div class='dwell'><table class='table-striped' >";
	str += "<th>Sites</th><th>Period</th><th align='right'>Value</th>";
	
	str += "<tbody>";
	for( var e in g.seriesOptions) {
		var site = g.seriesOptions[e];
		str += "<tr><td>" + site.name + "</td><td></td><td></td></tr>";
		for( var d in site.data ) {
			var data 	= site.data[d];
			var time 	= new Date(data[0]);
			var year 	= time.getFullYear();
			var month	= time.getMonth();
			var quarter;
			if( month >= 10 ) {
				quarter = 4;
			} else if ( month >= 7 ) {
				quarter = 3;
			} else if( month >= 4 ) {
				quarter = 2;
			} else {
				quarter = 1;
			}
			var value 	= data[1];
			str += "<td></td><td>"+ year + " Q"+quarter +"</td><td align='right'>"+ value + "</td></tr>"
		}
	}
	
	str += "</tbody></table></div>";
	$('#TableData').html(str);
}
analytics.track('DRG Run Chart', {
	drgId:				<%= drg.id %>,
	drgName:		 	"<%= drg.name %>",
	subPopulationId: 	<%= subpop.id %>,
	subPopulationName: "<%= subpop.name %>",
    siteId   : 			<%= site.id %>,
    siteName : 			"<%= site.name %>"
});
</script>